* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #f3f3f3;
  color: #444;
}

a,
.btn {
  transition: all 300ms ease;
}
/*----Default settings------*/

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.links--container {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.list--li {
  height: 70px;
  font-size: 20px;
  font-weight: 400;
}
.link--a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #444;
  position: relative;
}
.logo {
  font-size: 1.4rem;
  padding-right: 100px;
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: #444;
  cursor: default;
}
.btn {
  margin: 40px;
  border-style: none;
  background-color: grey;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px 25px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin: 0;
  margin-right: 30px;
  color: #f3f3f3;
  cursor: pointer;
}
.sidebar-btn {
  padding: 10px 50px;
}
.btn:hover {
  background-color: orange;
  color: black;
}
.list--li:first-child {
  margin-right: auto;
  cursor: default;
  padding-left: 30px;
  cursor: default;
}

/* Fade in animation*/
.link--a::after {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  height: 0.1em;
  background-color: orange;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
/* Scale from center */
.link--a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}
.link--a:hover::after,
.link--a:focus::after {
  transform: scale(0.5);
}
/* SideBar responsive Nav bar */
.sidebar--container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  backdrop-filter: blur(100px);
  width: 200px;
  z-index: 999;
  background-color: white;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar--container li {
  width: 100%;
  list-style: none;
}
.sidebar--container a {
  width: 100%;
}
.sidebar--container button {
  align-self: center;
}
.menu {
  height: 26px;
  width: 26px;
  padding-right: 40px;
  cursor: pointer;
}
.close {
  height: 26px;
  width: 26px;
  cursor: pointer;
  padding-top: 20px;
}
.hidden {
  display: none;
}
.menu-button {
  display: none;
}

.side-a::after {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 25px;
  height: 0.1em;
  background-color: orange;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
/* Scale from center */
.side-a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: left;
}

.side-a:hover::after {
  transform: scale(0.3);
}

/* Title main menu */
.header-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 9rem;
  padding-bottom: 15rem;
}
.pic {
  height: 300px;
  align-self: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-title h1 {
  font-size: 60px;
}
.header-title button {
  display: inline-block;
  border-style: none;
  background: none;
  text-decoration: underline;
  text-decoration-line: none;
  align-self: flex-start;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
}

h4 {
  font-size: 20px;
}
span:hover {
  color: orange;
}
section {
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}
.about h1 {
  text-align: center;
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 2s steps(40, end), blink-caret 0.7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@media (max-width: 600px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .header-container {
    display: block;
    text-align: center;
  }
  .header-title button {
    align-self: center;
  }
  .pic {
    margin-top: 30px;
  }
}
.aboutCont {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.about-pic {
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 50px;
}
.info-container {
  margin-top: 4rem;
}
.box {
  width: 600px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(249, 158, 0, 0.618),
    0 6px 20px 0 rgba(0, 73, 244, 0.547);
  padding: 10px;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
}
section {
  height: 100vh;
}
.about-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.p-info {
  width: 600px;
  margin-top: 30px;
}
.box-flex {
  display: flex;
  gap: 50px;
}
.boxTwo {
  width: 600px;
  margin-top: 30px;
  height: 140px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 5px;
}
.iconSkills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.check {
  height: 35px;
}
.skillP:hover {
  color: orange;
  cursor: pointer;
}
.aboutTitle {
  margin-bottom: 10px;
}
